<div>
    <h1>14 Day Forecast</h1>
    <h6>Searched Term: {{searchTerm}}</h6>
    <div>
        <h4>Currently showing for:
            <span *ngIf="weatherData.location">
                {{weatherData.location.name}}, {{weatherData.location.region}}
            </span>
        </h4>
        <label *ngIf="weatherData.current">Current Conditions: Feels like {{weatherData.current.feelslike_f}} F and
            {{weatherData.current.condition?.text}}</label>
    </div>
    <div class="row">
        <div class="card col-lg-2 col-md-2 col-sm-12" style="width:180px"
            *ngFor="let day of weatherData?.forecast?.forecastday">
            <img class="card-img-top" src="{{day?.day?.condition?.icon}}" alt="Card image">
            <div class="card-body">
                <h4 class="card-title">
                    {{ day?.dayOfTheWeek + " " + day?.month + "/" + day?.monthDay }}
                </h4>
                <p class="card-text">
                    <br />
                    <span><strong>Avg Temp: </strong>{{day?.day?.avgtemp_f}} F</span>
                    <br />
                    <span><strong>High: </strong>{{day?.day?.maxtemp_f}} F</span>
                    <br />
                    <span><strong>Low: </strong>{{day?.day?.mintemp_f}} F</span>
                </p>
                <a href="#" class="btn btn-primary">{{day?.dayOfTheWeek}}'s Hourly</a>
            </div>
        </div>
    </div>
</div>